.home .hero img {
    height: 400px !important;
    max-width: 100% !important;
    max-height: 400px !important;
    display: block !important;
    margin: 3rem auto 1.5rem !important;
}

.signals-and-sorcery-font {
    color: white !important;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem !important;
}

