.home .hero img {
    height: 640px !important;
    max-height: 100% !important;
    display: block !important;
    margin: 3rem auto 1.5rem !important;
}

@media (max-width: 768px) {
    .home .hero img {
        width: 100% !important;
        height: 100% !important;
        display: block !important;
        margin: 3rem auto 1.5rem !important;
    }
}

.signals-and-sorcery-font {
    color: white !important;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem !important;
}

